<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Login</title>
</head>

<body class="text-center">
    <div layout:fragment="content">
      <div class="ui container" style="width:400px; margin-top:100px;">
        <form class="ui form" th:action="@{/login}" method="post">
          <div class="ui massive label" style="margin-left: auto; margin-right: auto;">
            Please sign in
          </div>
          <div class="ui error message" th:if="${param.error}">
            <div class="header">Invalid email and password</div>
          </div>
          <div class="ui error message" th:if="${param.logout}">
            <div class="header">You have been logged out.</div>
          </div>
          <div class="field">
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" id="inputEmail" placeholder="Email" required="" />
          </div>
          <div class="field">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required="" />
          </div>
          <button class="ui button" type="submit">Sign in</button>
        </form>
      </div>
        <form class="ui form" th:action="@{/signup}" method="get">
            <button class="ui button" type="submit">Signup Here</button>
        </form>
    </div>
</body>

</html>
